*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background-color: #E8E8E8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img{
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 35px;
    box-sizing: border-box;
}
header ul{
    display: flex;
    flex-direction: row;
}
header ul li{
    margin-right: 10px;
    margin-top: 10px;
    width: 95px;
    height: 25px;
    text-align: center;
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.google{
    background-color: red;
}
.drive{
    background-color: #FFD700;
}
.gmail{
    background-color: #008000;
}
.classroom{
    background-color: cornflowerblue;
}
.calendar{
    background-color: #808080;
}
.caja_contenedora{
    padding-top: 80px;
    background-image: url(../img/fondo.png);
    background-size: cover;
    width: 100%;
    height: 800px;
    display: block;
    box-sizing: border-box;
}
.caja_contenedora h1{
    width: 500px;
    height: 50px;
    margin: auto;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 70px;
}
.caja_contenedora h2{
    width: 700px;
    height: 50px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    color: white;
    font-size: 40px;
}
.caja_contenedora a{
    margin: auto;
    width: 150px;
    height: 40px;
    margin-top: 60px;
    border-radius: 25px;
    background-color: #4A4A4A;
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 15px;
}
.caja{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px;
    justify-content: center;
}
.caja div{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    margin-left: 80px;
    margin-right: 80px;
}